{{#each this}}
    <li class="col-12 product-item">
        <div class="row">
            <div class="col-sm-12 col-md-6 left-side">
                <img class="product-icon" src="{{icon}}" alt="Ooops(((">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </div>
            <div class="col-sm-12 col-md-6 right-side">
                <img class="product-image" src="{{image}}" alt="Ooops((">
                <div class="product-time">{{time}}</div>
            </div>
        </div>
    </li>
{{/each}}